.history-details {
  text-align: center;
  padding: 12px 16px;

  .icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-top: 32px;
    margin-bottom: 24px;

    img {
      width: 40px;
    }
  }
}
